*{
    background-color: #8eb3ed;
}

table, th, td{
    border: 2px solid;
    border-color: rgb(85, 85, 85);
}

table{
    width: 100%;
}

th{
    background-color: rgb(226, 217, 118);
    font-size: 18px;
    font-style: bold;
}

td{
    font-size: 15px;
    text-align: left;
    font-style: normal;
}
