*{
    background-color: #8eb3ed;
}

header {
    text-align: center;
}

#logo{
    height: 100px;
}

h1{
    color: #e6c339;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.navbar{
    background-color: #587db8;
    padding: 10px;
}