body {
    background-color: #8eb3ed;
}

header {
    text-align: center;
}

#logo {
    height: 100px;
}

h1 {
    color: #e6c339;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

#front_img {
    margin: auto;
    display: block;
    width: 95%;
}

.navbar {
    background-color: #587db8;
    overflow: hidden;
    margin-bottom: 20px;
}

.navbar a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 14px 16px;
}

.navbar a:hover {
    background-color: #1a335c;
}

.navbar a.active {
    background-color: #34558a;
}

table, th, td {
    border: 1px solid;
    border-color: #FFFFFF;
}

.crop_table {
    width: 97%;
    background-color: #bad2f7;
    margin: auto;
}

.calc_table {
    width: 850px;
    margin: auto;
    background-color: #bad2f7;
}

th {
    background-color: #e2d976;
    font-size: 19px;
    font-style: bold;
}

.rowHeader {
    background-color: #f0ecc7;
}

tr {
    padding: 5px 5px;
}

.crop_table tr:hover {
    background-color: #f5eea6;
}

.calc_table tr:hover {
    background-color: #f5eea6;
}

td {
    font-size: 18px;
    text-align: left;
    font-style: normal;
}

#calcSubmit {
    margin: auto;
    display: block;
    padding: 8px 15px;
}

.calendar_table {
     width: 950px;
     height: 500px;
     margin: auto;
     background-color: #bad2f7;
     text-align: center;
     table-layout: fixed;
}

.calendar_table .day {
    vertical-align: top;
}

#event-menu {
    display: none;
    border: 2px solid #FFFFFF;
    text-align: center;
    width: 300px;
    margin: auto;
}