<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <title>Stardew Data</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{project.js}"></script>
</head>

<body>
<header>
    <h1>Profit Calculator</h1>
</header>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/crops">Prices</a>
    <a class="active" href="/calculator">Calculator</a>
    <a href="/calendar">Calendar</a>
</div>

<div>
    <form action="#" th:action="@{/calculator}" method="post">
        <table class="calc_table">
            <thead>
                <tr>
                    <th>Seed Name</th>
                    <th>Quantity</th>
                    <th>Tiller?<input type="checkbox" onclick="selectAllTiller(this)"></th>
                    <th>Kegs?</th>
                    <th>Jars?</th>
                    <th>Artisan?<input type="checkbox" onclick="selectAllArtisan(this)"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="plants, iStat : ${listPlants}" th:object="${form}">
                    <td th:text="${plants.seedName}">
                    </td>
                    <td>
                        <input type="hidden" th:attr="name=|dataList[${iStat.index}].id|, value=${plants.id}">
                        <label><input type="number" th:attr="name=|dataList[${iStat.index}].quantity|, value=${form.quantity}" min="0"></label>
                    </td>
                    <td>
                        <label><input type="checkbox" class="selectTiller" th:attr="name=|dataList[${iStat.index}].tiller|" value="true"></label>
                    </td>
                    <td>
                        <label><input type="checkbox" th:attr="name=|dataList[${iStat.index}].keg|" value="true"></label>
                    </td>
                    <td>
                        <label><input type="checkbox"  th:attr="name=|dataList[${iStat.index}].jar|" value="true"></label>
                    </td>
                    <td>
                        <label><input type="checkbox" class="selectArtisan" th:attr="name=|dataList[${iStat.index}].artisan|" value="true"></label>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <button type="submit" id="calcSubmit">Calculate</button>
    </form>
</div>

</body>
</html>
