<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <title>Stardew Data</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<header>
    <h1>Profit Calculator Results</h1>
</header>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/crops">Prices</a>
    <a class="active" href="/calculator">Calculator</a>
    <a href="/calendar">Calendar</a>
</div>

<div>
    <table class="calc_table">
        <thead>
        <tr>
            <th>Selling:</th>
            <th>Total</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th class="rowHeader">Only Crops</th>
            <td th:text="${calc.totalCrops > 0 ? calc.totalCrops : 'N/A'}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <table class="calc_table">
        <thead>
        <tr>
            <th>If all artisan products are only:</th>
            <th>Total (+crops)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="rowHeader">Regular Jars / Kegs</th>
            <td th:text="${calc.totalRegJarKeg > 0 ? calc.totalRegJarKeg : 'N/A'}"></td>
        </tr>
        <tr>
            <th class="rowHeader">Silver Jars / Keg</th>
            <td th:text="${calc.totalSilverJarKeg > 0 ? calc.totalSilverJarKeg : 'N/A'}"></td>
        </tr>
        <tr>
            <th class="rowHeader">Gold Jars / Kegs</th>
            <td th:text="${calc.totalGoldJarKeg > 0 ? calc.totalGoldJarKeg : 'N/A'}"></td>
        </tr>
        <tr>
            <th class="rowHeader">Regular with Artisan bonus</th>
            <td th:text="${calc.totalRegArtisan > 0 ? calc.totalRegArtisan : 'N/A'}"></td>
        </tr>
        <tr>
            <th class="rowHeader">Silver with Artisan bonus</th>
            <td th:text="${calc.totalSilverArtisan > 0 ? calc.totalSilverArtisan : 'N/A'}"></td>
        </tr>
        <tr>
            <th class="rowHeader">Gold with Artisan bonus</th>
            <td th:text="${calc.totalGoldArtisan > 0 ? calc.totalGoldArtisan : 'N/A'}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
