<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <title>Stardew Data</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script th:src="@{project.js}"></script>
</head>

<body>
<header>
    <h1>Planting Calendar</h1>
</header>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/crops">Prices</a>
    <a href="/calculator">Calculator</a>
    <a class="active" href="/calendar">Calendar</a>
</div>

<div id="event-menu">
    <form>
        <h4>Choose seed to plant</h4>
        <select id="event-dropdown">
            <option id="event" th:each="plants : ${listPlants}" th:text="${plants.seedName}" value="${plants.id}"></option>
        </select>
        <button id="save">Add</button>
        <br>
    </form>
</div>

<div class="calendar">
    <table class="calendar_table">
        <thead>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        </thead>
        <tbody class="dates">
            <tr th:each="week : ${weeks}">
                <td th:each="day : ${week}" th:text="${day.dayOfMonth}" class="day"></td>
        </tbody>
    </table>
</div>

</body>
</html>
