<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <title>Stardew Data</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/data.css}"/>
</head>
<body>
<div class="navbar">
    <a href="/">Home</a>
    <a class="active" href="/crops">Crop Data</a>
    <a href="calculatorPage.html">Profit calculator</a>
    <a href="calendarPage.html">Crop Calendar</a>
</div>

<div>
    <table class="table">
        <thead>
        <tr>
            <th rowspan="2">Seed name</th>
            <th rowspan="2">Month</th>
            <th colspan="3">Normal Price</th>
            <th colspan="3">Tiller Price</th>
            <th colspan="3">Keg Price</th>
            <th colspan="3">Keg (Artisan) Price</th>
            <th colspan="3">Jar Price</th>
            <th colspan="3">Jar (Artisan) Price</th>
        </tr>
        <tr>
            <th>Base</th>
            <th>Silver</th>
            <th>Gold</th>
            <th>Base</th>
            <th>Silver</th>
            <th>Gold</th>
            <th>Base</th>
            <th>Silver</th>
            <th>Gold</th>
            <th>Base</th>
            <th>Silver</th>
            <th>Gold</th>
            <th>Base</th>
            <th>Silver</th>
            <th>Gold</th>
            <th>Base</th>
            <th>Silver</th>
            <th>Gold</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="plants : ${listPlants}">
            <td th:text="${plants.seedName}">Seed Name</td>
            <td th:text="${plants.month}">Month</td>
            <td th:text="${plants.normalPrice[0]}"></td>
            <td th:text="${plants.normalPrice[1]}"></td>
            <td th:text="${plants.normalPrice[2]}"></td>
            <td th:text="${plants.tillerPrice.size>0 ? plants.tillerPrice[0] : 'N/A'}"></td>
            <td th:text="${plants.tillerPrice.size>0 ? plants.tillerPrice[1] : 'N/A'}"></td>
            <td th:text="${plants.tillerPrice.size>0 ? plants.tillerPrice[2] : 'N/A'}"></td>
            <td th:text="${plants.kegPrice.size>0 ? plants.kegPrice[0] : 'N/A'}"></td>
            <td th:text="${plants.kegPrice.size>0 ? plants.kegPrice[1] : 'N/A'}"></td>
            <td th:text="${plants.kegPrice.size>0 ? plants.kegPrice[2] : 'N/A'}"></td>
            <td th:text="${plants.kegArtisanPrice.size>0 ? plants.kegArtisanPrice[0] : 'N/A'}"></td>
            <td th:text="${plants.kegArtisanPrice.size>0 ? plants.kegArtisanPrice[1] : 'N/A'}"></td>
            <td th:text="${plants.kegArtisanPrice.size>0 ? plants.kegArtisanPrice[2] : 'N/A'}"></td>
            <td th:text="${plants.jarPrice.size>0 ? plants.jarPrice[0] : 'N/A'}"></td>
            <td th:text="${plants.jarPrice.size>0 ? plants.jarPrice[1] : 'N/A'}"></td>
            <td th:text="${plants.jarPrice.size>0 ? plants.jarPrice[2] : 'N/A'}"></td>
            <td th:text="${plants.jarArtisanPrice.size>0 ? plants.jarArtisanPrice[0] : 'N/A'}"></td>
            <td th:text="${plants.jarArtisanPrice.size>0 ? plants.jarArtisanPrice[1] : 'N/A'}"></td>
            <td th:text="${plants.jarArtisanPrice.size>0 ? plants.jarArtisanPrice[2] : 'N/A'}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>