<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <title>Stardew Data</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
</head>
<body>
<header>
    <img id="logo" src="../static/images/Main_Logo.png" th:src="@{/images/Main_Logo.png}" alt="Logo image">
    <h1>A guide for farming</h1>
</header>

<div class="navbar">
    <a class="active" href="/">Home</a>
    <a href="/crops">Crop Data</a>
    <a href="calculatorPage.html">Profit calculator</a>
    <a href="calendarPage.html">Crop calendar</a>
</div>

</body>
</html>