<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <title>Stardew Data</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <img id="logo" src="../static/images/Main_Logo.png" th:src="@{/images/Main_Logo.png}" alt="Logo image">
    <h1>A guide for farming</h1>
</header>

<div class="navbar">
    <a class="active" href="/">Home</a>
    <a href="/crops">Prices</a>
    <a href="/calculator">Calculator</a>
    <a href="calendarPage.html">Calendar</a>
</div>

<img id="front_img" src="../static/images/front_image.jpg" th:src="@{/images/front_image.jpg}" alt="Front image">

</body>
</html>